.flexslider {
 position: relative;
 overflow: hidden;
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
}

.flexslider .slides {
 margin: 0;
 padding: 0;
 height: 100%;
 background-color: #000 !important;
 list-style: none;
}
.flexslider .slides > li {
 height: 100%;
 position: relative;
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
}
.flexslider > .slides > li > a {
 position: absolute;
 right: 2em;
 bottom: 1.5em;
 font-size: 9pt;
 font-weight: 300;
 color: rgba(255,255,255,.75);
}



.flex-control-nav {
 width: 100%;
 position: absolute;
 bottom: 0;
 text-align: center;
 z-index: 999;
 margin: 0;
 padding: 17px 0;
 pointer-events: none;
}
.flex-control-nav ul {
 position: relative;
 display: inline-block;
 margin: 0;
 padding: 0;
 list-style: none;
 cursor: default;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.flex-control-nav li {
 position: relative;
 display: inline-block;
 margin: 0 6px;
 width: 14px;
 height: 14px;
 cursor: pointer;
 pointer-events: auto;
}
.flex-control-nav li a {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 50%;
 background-color: #fff;
 opacity: .6;
 cursor: pointer;
 outline: none;
 text-indent: -999em; /* make the text accessible to screen readers */
}
.flex-control-nav li a:focus {
 outline: none;
}
.flex-control-paging li a {
 transition: opacity .2s;
}
.flex-control-paging li a:hover {
 opacity: .8;
}
.flex-control-paging li a.flex-active {
 opacity: 1;
}



.flex-direction-nav {
 position: absolute;
 top: 50%;
 margin: -23px 0 0 0;
 padding: 0;
 width: 100%;
 list-style: none;
 z-index: 999;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.flex-direction-nav li {
 position: absolute;
 top: 0;
 width: 40px;
 height: 40px;
}
.flex-direction-nav li a {
 display: block;
 width: 40px;
 height: 40px;
 padding: 8px 4px;
 color: transparent;
 background: url('data:image/svg+xml;utf-8,<svg version="1" xmlns="http://www.w3.org/2000/svg" width="480" height="480" viewBox="0 0 360.000000 360.000000"><path d="M226.791 72.389c-1.793.633-4.921 3.691-52.663 51.398-30.129 30.129-51.082 51.328-51.539 52.171-1.16 2.18-1.09 6.153.176 8.262 1.16 1.969 101.6 102.374 103.183 103.148 4.57 2.285 10.476-.317 11.917-5.239.633-2.285.493-4.148-.562-6.328-.457-.949-16.101-16.804-47.812-48.515l-47.11-47.109 47.426-47.46 47.46-47.461.563-2.074c2.004-6.961-4.359-13.184-11.039-10.793z" fill="#fff"/></svg>') center center / cover no-repeat;
 opacity: .6;
 transition: opacity 0.1s;
}
.flex-direction-nav li a:hover {
 opacity: 1;
}
.flex-direction-nav li:first-child {
 left: 0;
}
.flex-direction-nav li:last-child {
 right: 0;
 -webkit-transform: rotateY(180deg);
 -moz-transform: rotateY(180deg);
 -ms-transform: rotateY(180deg);
 -o-transform: rotateY(180deg);
 transform: rotateY(180deg);
}
